
<div class="statistics-wrap bg-gradient5" >
    <div class="container">
        <div class="row small t-ctr mt0">
            <div  class="col-lg-3 col-sm-6">
                <div  class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/deal.svg"  title="<%= title_tag %>" alt="<%= alt_tag %>" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">450</span>
                        <p>Happy Clients</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/computers.svg"  title="<%= title_tag %>" alt="<%= alt_tag %>" class="img-fluid">
                    </div>
                    <div class="statnumb counter-number">
                        <span class="counter">48</span><span>k</span>
                        <p>Projects Done</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/worker.svg"  title="<%= title_tag %>" alt="<%= alt_tag %>" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">95</span><span>k</span>
                        <p>Hours Worked</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="statistics mb0">
                    <div data-tilt data-tilt-max="50" data-tilt-speed="1000" class="statistics-img hover-background">
                        <img src="images/icons/customer-service.svg"  title="<%= title_tag %>" alt="<%= alt_tag %>" class="img-fluid">
                    </div>
                    <div class="statnumb">
                        <span class="counter">24</span><span>/</span><span class="counter">7</span>
                        <p>Support Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>