

<section class="why-choos-lg pad-tb deep-dark"  id="about-us" >
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="common-heading text-l">
                    <span class="text-second text-bold text-radius text-light text-animation bg-b" >About Us</span>
                    <h2 class="mb20"><%= description_title %></h2>
                    <p style="text-align: justify;"><%= description_desc %></p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img-design h-scl-" >
                    <div class="imgac "> 
                        <img src="images/about/marketing-service.png"   alt="<%= alt_tag %>" title="<%= title_tag %>" class="ag-dg1 img-fluid h-scl-base">
                        </div>
                    <div class="imgac h-scl-base">
                        <img src="images/service/service-img-2.png"  alt="<%= alt_tag %>" title="<%= title_tag %>" class="ag-dg2 img-fluid ">
                        </div>
                    <div class="shpdez1 shpdzz"></div>
                    <div class="shpdez2 shpdzz"></div>
                    <div class="shpdez3 shpdzz"></div>
                    <div class="shpdez4 shpdzz"></div>
                </div>
            </div>
            
        </div>
    </div>
</section>