<!DOCTYPE html>
<html lang="en" class="no-js box-content">

<head>
<script type="text/javascript">
    if (window.location.hostname.startsWith('www.')) {
      // Redirect to the non-www version of the domain
      window.location.href = window.location.protocol + '//' + window.location.hostname.replace('www.', '') + window.location.pathname;
    }
  </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S7NPPMXQGW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-S7NPPMXQGW');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N6557MW');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    
    <title> <%= pg_title %>></title>
    <meta name="<%= meta_1.name %>" content="<%= meta_1.content %>">
    <meta name="<%= meta_2.name %>" content="<%= meta_2.content %>">
    <meta charset="utf-8" />
<meta name="author" content="rajesh-doot">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="theme-color" content="#101010">
<meta name="google-site-verification" content="aOvWcriGCEht9bwVhiZ17U6NkitAuMFFBAgKhgG9-xs" />

<link href="images/favicon.ico" rel="icon">
<link rel="stylesheet" href="https://unpkg.com/kursor/dist/kursor.css">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/plugin.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add Owl Carousel CSS and JS files -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<link rel="stylesheet" href="css/common/particle_background.css">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
<link href="css/darkmode.css" rel="stylesheet">
<link rel="stylesheet" href="css/common/influence.css">
<link rel="stylesheet" href="css/common/common_css.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="css/swiper.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Domine:wght@500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
</head>

