<section class="work-category pad-tb tilt3d">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 v-center">
                <div class="common-heading text-l">
                    <span style="color: orangered;" >Industries we work for</span>
                    <h2>Helping <span class="text-second text-bold text-radius text-light text-animation bg-b"> Businesses </span>in All Domains</h2>
                    <p>Successfully delivered digital products ,website & mobile app in a optimized and more functional way.</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="work-card-set">
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay=".2s">
                        <div class="work-card cd1 ">
                            <div class="icon-bg"><img src="images/icons/icon-1.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Social Networking</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay=".4s">
                        <div class="work-card cd2">
                            <div class="icon-bg"><img src="images/icons/icon-2.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Digital Marketing</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay=".6s">
                        <div class="work-card cd3">
                            <div class="icon-bg"><img src="images/icons/icon-3.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Ecommerce Development</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay=".8s">
                        <div class="work-card cd4">
                            <div class="icon-bg"><img src="images/icons/icon-4.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Video Service</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay="1s">
                        <div class="work-card cd5">
                            <div class="icon-bg"><img src="images/icons/icon-5.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Banking Service</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay="1.2s">
                        <div class="work-card cd6">
                            <div class="icon-bg"><img src="images/icons/icon-6.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Enterprise Service</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay="1.4s">
                        <div class="work-card cd7">
                            <div class="icon-bg"><img src="images/icons/icon-7.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Education Service</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay="1.6s">
                        <div class="work-card cd8">
                            <div class="icon-bg"><img src="images/icons/icon-8.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Tour and Travels</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay="1.8s">
                        <div class="work-card cd9">
                            <div class="icon-bg"><img src="images/icons/icon-9.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Health Service</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay="2s">
                        <div class="work-card cd10">
                            <div class="icon-bg"><img src="images/icons/icon-10.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Event & Ticket</p>
                        </div>
                    </div>
                    <div data-tilt data-tilt-max="30" class="icon-set wow fadeIn" data-wow-delay="2.2s">
                        <div class="work-card cd11">
                            <div class="icon-bg"><img src="images/icons/icon-11.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Restaurant Service</p>
                        </div>
                    </div>
                    <div class="icon-set wow fadeIn" data-wow-delay="2.4s">
                        <div class="work-card cd12">
                            <div class="icon-bg"><img src="images/icons/icon-12.png" loading="lazy" alt="<%= alt_tag %>" title="Moundweb It & Web Solutions" /></div>
                            <p>Business Consultant</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
