
<section class="service pad-tb">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div data-tilt class="image-block upset bg-shape wow fadeIn">
                    <img data-tilt data-tilt-max="1"  src="<%= description_image %>"  alt="<%= alt_tag %>" title="<%= title_tag %>" class="img-fluid" style="transition: all 1s ease-in-out ; background-attachment: scroll;" />
                </div>
            </div>
            <div class="col-lg-8 block-1">
                <div class="common-heading text-l pl25">
                    <span style="color: orangered;">Overview</span>
                    <h2><%= description_title %></h2>
                    <p style="text-align: justify;line-height: 1.5rem;letter-spacing: .05rem;" ><%= description_desc %></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="techonology-used-">
    <marquee  scrollamount="30"   class="container client-logoset  ">
        <ul class="h-scroll tech-icons clearfix">
            <li><a href="#"><img src="images/icons/stack-icon1.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon2.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon3.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon4.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon5.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon6.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon7.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon8.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon1.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon2.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon3.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon4.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon5.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon6.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon7.png" alt="icon"></a></li>
            <li><a href="#"><img src="images/icons/stack-icon8.png" alt="icon"></a></li>
        </ul>
    </marquee>
</div>


